synapse-workspace/pipeline/00 MDB.json
{
	"name": "00 MDB",
	"properties": {
		"activities": [
			{
				"name": "Lookup - Systems",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[elt].[spLookupActiveSystems]",
						"storedProcedureParameters": {
							"SystemCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.system_code",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_mdb_table",
						"type": "DatasetReference",
						"parameters": {
							"dbname": {
								"value": "@pipeline().parameters.mdb_dbname",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach - Source",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup - Systems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup - Systems').output.value",
						"type": "Expression"
					},
					"batchCount": 50,
					"activities": [
						{
							"name": "Switch - Choose Source",
							"description": "Use systemcode from elt.metadatasystem as input for this switch statement",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().systemcode",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "dyn",
										"activities": [
											{
												"name": "Execute Pipeline 01 MDB Dynamics",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "01 MDB Dynamics",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"system_code": {
															"value": "@item().systemcode",
															"type": "Expression"
														},
														"system_name": {
															"value": "@item().systemname",
															"type": "Expression"
														},
														"system_type": {
															"value": "@item().systemtype",
															"type": "Expression"
														},
														"mdb_dbname": {
															"value": "@pipeline().parameters.mdb_dbname",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "cmptest",
										"activities": [
											{
												"name": "Execute Pipeline 02 MDB CMP Test",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "02 MDB CMP test",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"system_code": {
															"value": "@item().systemcode",
															"type": "Expression"
														},
														"system_name": {
															"value": "@item().systemname",
															"type": "Expression"
														},
														"system_type": {
															"value": "@item().systemtype",
															"type": "Expression"
														},
														"mdb_dbname": {
															"value": "@pipeline().parameters.mdb_dbname",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "snp",
										"activities": [
											{
												"name": "Execute Pipeline 03 Servicenow Projects",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "03 MDB ServiceNow Projects",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"system_code": {
															"value": "@item().systemcode",
															"type": "Expression"
														},
														"system_name": {
															"value": "@item().systemname",
															"type": "Expression"
														},
														"system_type": {
															"value": "@item().systemtype",
															"type": "Expression"
														},
														"mdb_dbname": {
															"value": "@pipeline().parameters.mdb_dbname",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"process_run_date": {
				"type": "string"
			},
			"mdb_dbname": {
				"type": "string"
			},
			"system_code": {
				"type": "string"
			}
		},
		"folder": {
			"name": "MDB"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-16T08:50:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}