synapse-workspace/pipeline/00 MDDB.json
{
	"name": "00 MDDB",
	"properties": {
		"activities": [
			{
				"name": "spStartPipelineRun",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[spStartPipelineRun]",
					"storedProcedureParameters": {
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"process_run_id": {
							"value": {
								"value": "@pipeline().parameters.process_run_id",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb_m10mdf",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spEndPipelineRun",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach - Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[spEndPipelineRun]",
					"storedProcedureParameters": {
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb_m10mdf",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup - Get all sources",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "spStartPipelineRun",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from etl.metadatasystem\nwhere active =1 ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_m10mdf_mddb_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach - Source",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup - Get all sources",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup - Get all sources').output.value",
						"type": "Expression"
					},
					"batchCount": 50,
					"activities": [
						{
							"name": "Switch - Choose Source",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().systemname",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Source1",
										"activities": [
											{
												"name": "Execute Pipeline 01 MDDB Source1",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "01 MDDB Source1",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true
												}
											}
										]
									},
									{
										"value": "Source2",
										"activities": [
											{
												"name": "Execute Pipeline 01 MDDB Source2",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "02 MDDB Source2",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"process_run_id": {
				"type": "int",
				"defaultValue": -1
			},
			"process_run_date": {
				"type": "string",
				"defaultValue": "2019-12-10"
			}
		},
		"folder": {
			"name": "MDDB"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-16T08:50:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}