synapse-workspace/pipeline/03 MDB ServiceNow Projects.json
{
	"name": "03 MDB ServiceNow Projects",
	"properties": {
		"activities": [
			{
				"name": "LU_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM elt.MetadataTables\nWHERE IsActive = 1 AND SystemCode = 'snprojects'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_mdb_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_INS_Metadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LU_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LU_Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 15,
					"activities": [
						{
							"name": "Insert_Structure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "LU_Structure_Type",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[elt].[spInsertMetadata]",
								"storedProcedureParameters": {
									"Json": {
										"value": {
											"value": "@string(activity('LU_Structure_Type').output.value)",
											"type": "Expression"
										},
										"type": "String"
									},
									"lSchema": {
										"value": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"type": "String"
									},
									"lTable": {
										"value": {
											"value": "@item().EntityName",
											"type": "Expression"
										},
										"type": "String"
									},
									"SystemCode": {
										"value": {
											"value": "@pipeline().parameters.system_code",
											"type": "Expression"
										},
										"type": "String"
									},
									"SystemName": {
										"value": {
											"value": "@pipeline().parameters.system_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"SystemType": {
										"value": {
											"value": "@pipeline().parameters.system_type",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqldb_mdb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LU_Structure",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "If base table has parent",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "ds_source_servicenow_tableapi_http",
									"type": "DatasetReference",
									"parameters": {
										"relative_api_path": "sys_dictionary",
										"filter_on_table": {
											"value": "@item().EntityName",
											"type": "Expression"
										},
										"fields_to_include": "element,internal_type,max_length,unique,mandatory"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "LU_Structure_Type",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LU_Structure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[elt].[spSnGetFieldAndDataType]",
									"storedProcedureParameters": {
										"json": {
											"type": "String",
											"value": {
												"value": "@string(activity('LU_Structure').output.value[0].result)",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql_mdb_table",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "LU_Table_Information",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "ds_source_servicenow_tableapi_http",
									"type": "DatasetReference",
									"parameters": {
										"relative_api_path": "sys_db_object",
										"filter_on_table": {
											"value": "@item().EntityName",
											"type": "Expression"
										},
										"fields_to_include": "super_class, name",
										"field_to_filter": "name"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "If base table has parent",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LU_Table_Information",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(string(activity('LU_Table_Information').output.result[0]['super_class'])), 0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute Pipeline 03a",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "03a MDB ServiceNow Projects",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"sys_id": {
													"value": "@activity('LU_Table_Information').output.result[0]['super_class']['value']",
													"type": "Expression"
												},
												"table_name": {
													"value": "@activity('LU_Table_Information').output.result[0]['name']",
													"type": "Expression"
												},
												"base_table": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"process_run_id": {
				"type": "string",
				"defaultValue": "-1"
			},
			"system_code": {
				"type": "string"
			},
			"system_name": {
				"type": "string"
			},
			"system_type": {
				"type": "string"
			}
		},
		"folder": {
			"name": "MDB"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-04T14:48:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}