synapse-workspace/pipeline/31 StagingToGold - Stored Procedures.json
{
	"name": "31 StagingToGold - Stored Procedures",
	"properties": {
		"activities": [
			{
				"name": "ForEach Stored Procedure",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "spStartPipelineRun",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.procedures",
						"type": "Expression"
					},
					"batchCount": 50,
					"activities": [
						{
							"name": "Load_Stored Procedure",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": {
										"value": "@item().Procedure",
										"type": "Expression"
									},
									"storedProcedureParameters": {
										"PipelineRunID": {
											"type": "Guid",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"ProcessRunID": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.process_run_id",
												"type": "Expression"
											}
										},
										"TaskName": {
											"type": "String",
											"value": {
												"value": "@item().Procedure",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql_m10mdf_sp",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "spStartPipelineRun",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[spStartPipelineRun]",
					"storedProcedureParameters": {
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"process_run_id": {
							"value": {
								"value": "@pipeline().parameters.process_run_id",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb_m10mdf",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spEndPipelineRun",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach Stored Procedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[spEndPipelineRun]",
					"storedProcedureParameters": {
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb_m10mdf",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"procedures": {
				"type": "array"
			},
			"process_run_id": {
				"type": "int"
			}
		},
		"folder": {
			"name": "ETL DWH/30 StagingToGold"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-15T16:10:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}