synapse-workspace/pipeline/Master.json
{
	"name": "Master",
	"properties": {
		"activities": [
			{
				"name": "Execute 00 MDB",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set ProcessRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "00 MDB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"process_run_date": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"mdb_dbname": {
							"value": "@pipeline().parameters.mdb_dbname",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute 10 SourceToRaw",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute 00 MDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "10 SourceToRaw",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"process_run_id": {
							"value": "@variables('process_run_id')",
							"type": "Expression"
						},
						"process_run_date": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"use_case_code": {
							"value": "@pipeline().parameters.use_case_code",
							"type": "Expression"
						},
						"mdb_dbname": {
							"value": "@pipeline().parameters.mdb_dbname",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute 20 RawToStaged",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute 10 SourceToRaw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "20 RawToStaged",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"process_run_id": {
							"value": "@variables('process_run_id')",
							"type": "Expression"
						},
						"process_run_date": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"use_case_code": {
							"value": "@pipeline().parameters.use_case_code",
							"type": "Expression"
						},
						"mdb_dbname": {
							"value": "@pipeline().parameters.mdb_dbname",
							"type": "Expression"
						},
						"dwh_dbname": {
							"value": "@pipeline().parameters.dwh_dbname",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute 30 StagedToProcessed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute 20 RawToStaged",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "30 StagedToProcessed",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"process_run_id": {
							"value": "@variables('process_run_id')",
							"type": "Expression"
						},
						"process_run_date": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"mdb_dbname": {
							"value": "@pipeline().parameters.mdb_dbname",
							"type": "Expression"
						},
						"dwh_dbname": {
							"value": "@pipeline().parameters.dwh_dbname",
							"type": "Expression"
						},
						"use_case_code": {
							"value": "@pipeline().parameters.use_case_code",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set ProcessRunId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "process_run_id",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"use_case_code": {
				"type": "string"
			},
			"mdb_dbname": {
				"type": "string",
				"defaultValue": "mdb"
			},
			"dwh_dbname": {
				"type": "string",
				"defaultValue": "dwh"
			}
		},
		"variables": {
			"process_run_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}